<header class="w-full border-b-2 border-[#365442]/20 bg-[#F2F4F0]">
  <div class="mx-auto max-w-7xl px-6 py-3 md:min-h-20">

    <!-- 上段 -->
    <div class="flex items-center justify-between min-h-14">

      <!-- ロゴ -->
      <div class="text-2xl font-serif font-bold text-[#365442] tracking-tighter opacity-90 leading-none flex items-center">
        <%= link_to "みんなの紅茶図鑑", root_path, class: "hover:opacity-70 transition" %>
      </div>

      <!-- ハンバーガー -->
      <input type="checkbox" id="menu-toggle" class="hidden peer">

      <label for="menu-toggle" class="md:hidden cursor-pointer">
        <div class="space-y-1">
          <span class="block w-6 h-0.5 bg-[#365442]"></span>
          <span class="block w-6 h-0.5 bg-[#365442]"></span>
          <span class="block w-6 h-0.5 bg-[#365442]"></span>
        </div>
      </label>

      <!-- PCメニュー -->
      <div class="hidden md:flex items-center space-x-6 text-base font-medium text-[#433D3C]">

        <%= link_to "投稿する",
              new_tea_product_path,
              class: "px-4 py-2 text-[#A75F29] font-serif tracking-wider border border-transparent hover:border-[#A75F29]/30 rounded transition" %>

        <%= link_to "マイページ",
              mypage_path,
              class: "px-4 py-2 hover:text-[#365442] font-serif tracking-wider transition" %>

        <%= link_to "ログアウト",
              destroy_user_session_path,
              data: { turbo_method: :delete },
              class: "px-4 py-2 text-gray-500 hover:text-red-800 text-sm font-sans transition" %>

      </div>

    </div>

    <!-- スマホメニュー -->
    <div class="hidden peer-checked:block md:hidden mt-4 space-y-4 text-right">

      <%= link_to "投稿する",
            new_tea_product_path,
            class: "block text-[#A75F29] font-serif tracking-wider" %>

      <%= link_to "マイページ",
            mypage_path,
            class: "block font-serif tracking-wider" %>

      <%= link_to "ログアウト",
            destroy_user_session_path,
            data: { turbo_method: :delete },
            class: "block text-gray-500 text-sm" %>

    </div>

  </div>
</header>