<%= form_with model: tea_product, local: true do |f| %>
  <% if tea_product.errors.any? %>
    <ul class="text-red-500">
      <% tea_product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div
    data-controller="brand-suggest"
    data-brand-suggest-url-value="/brands/search"
  >
    <label class="block font-bold mb-1">
      ブランド
    </label>

    <input
      type="text"
      name="tea_product[brand_name]"
      value="<%= tea_product.brand&.display_name || tea_product.brand_name %>"
      data-brand-suggest-target="input"
      data-action="input->brand-suggest#search keyup->brand-suggest#search"
      placeholder="ブランド名を入力"
      class="border p-2 w-full"
      autocomplete="off"
    >

    <input
      type="hidden"
      name="tea_product[brand_id]"
      value="<%= tea_product.brand_id %>"
      data-brand-suggest-target="hidden"
    >

    <ul
      data-brand-suggest-target="list"
      class="border bg-white mt-1 max-h-40 overflow-y-auto"
    ></ul>
  </div>

  <div>
    <%= f.label :tea_type, "茶葉タイプ" %>

    <%= f.select :tea_type,
          TeaProduct.tea_types.keys.map { |k|
            location = TeaProduct.new(tea_type: k)
            [location.enum_i18n(:tea_type), k]
          },
          { include_blank: "選択してください" },
          class: "border p-2 w-full" %>
  </div>

  <div>
    <%= f.label :caffeine_level, "カフェイン" %>

    <%= f.select :caffeine_level,
          TeaProduct.caffeine_levels.keys.map { |k|
            location = TeaProduct.new(caffeine_level: k)
            [location.enum_i18n(:caffeine_level), k]
          },
          { include_blank: "選択してください" },
          class: "border p-2 w-full" %>
  </div>

  <div
    data-controller="flavor-select"
    data-flavor-select-url-value="/flavor_categories"
    data-flavor-select-selected-ids-value="<%= @tea_product.flavor_ids.join(',') %>"
    data-flavor-select-category-id-value="<%= @tea_product.selected_flavor_category_id %>"
  >

    <%= f.hidden_field :selected_flavor_category_id,
      value: @tea_product.selected_flavor_category_id %>

    <div>
      <label class="font-bold">フレーバーカテゴリ</label>

      <select
        data-action="change->flavor-select#load"
        data-flavor-select-target="category"
        class="border p-2 w-full"
      >
        <option value="">選択してください</option>
        <% FlavorCategory.order(:name).each do |category| %>
          <option
            value="<%= category.id %>"
            <%= "selected" if category.id == @tea_product.selected_flavor_category_id.to_i %>
          >
            <%= category.name %>
          </option>
        <% end %>
      </select>
    </div>

    <div class="mt-4">
      <label class="font-bold">フレーバー</label>

      <div
        data-flavor-select-target="list"
        class="mt-2 space-y-1"
      ></div>
    </div>
  </div>

  <% purchase_location = @tea_product.purchase_locations.first %>

  <div class="mb-8">
    <h3 class="font-bold text-lg mb-2">購入場所</h3>

    <!-- location_type -->
    <div class="mb-4">
      <label class="font-bold block mb-1">
        購入場所の種類
      </label>

      <%= select_tag "tea_product[purchase_location][location_type]",
        options_for_select(
          PurchaseLocation.location_types.keys.map { |k|
            [
              PurchaseLocation.new(location_type: k)
                .enum_i18n(:location_type),
              k
            ]
          },
          purchase_location&.location_type
        ),
        prompt: "選択してください",
        class: "border p-2 w-full"
      %>
    </div>

    <!-- name -->
    <div>
      <label class="font-bold block mb-1">
        店名（必須）
      </label>

      <%= text_field_tag "tea_product[purchase_location][name]",
        purchase_location&.name,
        placeholder: "例：成城石井 新宿店、Amazon など",
        class: "border p-2 w-full"
      %>
    </div>
  </div>

  <div>
    <%= f.label :description, "説明・レビュー" %>

    <%= f.text_area :description,
          rows: 6,
          placeholder: "香り・味・後味・おすすめポイントなど自由に書いてください",
          class: "border p-2 w-full" %>
  </div>

  <div>
    <%= f.submit "保存" %>
  </div>
<% end %>
