<% reviews = @tea_product.reviews %>
<div class="space-y-1">
  <h3 class="font-semibold">総合評価</h3>

  <div>
    おすすめ度
    <span class="text-yellow-500">
      <%= render_stars(reviews.average(:overall_rating).to_f.round) %>
    </span>
    (<%= number_with_precision(reviews.average(:overall_rating), precision: 1) %>)
  </div>

  <div>
    香り
    <span class="text-yellow-500">
      <%= render_stars(reviews.average(:aroma_rating).to_f.round) %>
    </span>
    (<%= number_with_precision(reviews.average(:aroma_rating), precision: 1) %>)
  </div>

  <div>
    渋み
    <span class="text-yellow-500">
      <%= render_stars(reviews.average(:bitterness_rating).to_f.round) %>
    </span>
    (<%= number_with_precision(reviews.average(:bitterness_rating), precision: 1) %>)
  </div>

  <div>
    濃さ
    <span class="text-yellow-500">
      <%= render_stars(reviews.average(:strength_rating).to_f.round) %>
    </span>
    (<%= number_with_precision(reviews.average(:strength_rating), precision: 1) %>)
  </div>

  <div>
    甘さ
    <span class="text-yellow-500">
      <%= render_stars(reviews.average(:sweetness_rating).to_f.round) %>
    </span>
    (<%= number_with_precision(reviews.average(:sweetness_rating), precision: 1) %>)
  </div>

   <% if @review_count > 0 %>

    <div class="mt-3">

      <div class="font-semibold">
        おすすめの飲み方
      </div>

      <div class="text-sm space-y-1">

        <div>
          ストレート
          <%= (@recommended_straight_count * 100 / @review_count.to_f).round %>%
          （<%= @recommended_straight_count %>件）
        </div>

        <div>
          ミルク
          <%= (@recommended_milk_count * 100 / @review_count.to_f).round %>%
          （<%= @recommended_milk_count %>件）
        </div>

        <div>
          アイス
          <%= (@recommended_iced_count * 100 / @review_count.to_f).round %>%
          （<%= @recommended_iced_count %>件）
        </div>

      </div>

    </div>

  <% end %>

</div>
