<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Myapp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Myapp">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

    <meta property="og:title" content="紅茶辞典 | あなたに合う紅茶を見つけよう">
    <meta property="og:description" content="初心者でもわかる紅茶辞典。あなたに合う紅茶タイプ診断もできます。">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:image" content="<%= image_url('ogp.png') %>">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="<%= image_url('ogp.png') %>">
  </head>

  <body class="font-sans bg-[#f7f3ee]">
    <% if user_signed_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>

    <turbo-frame id="flash">
      <%= render "shared/flash" %>
    </turbo-frame>

    <%= yield %>

    <turbo-frame id="diagnostic_modal"></turbo-frame>

    <%= render 'shared/footer' %>
  </body>
</html>
